
@font-face{
font-family: 'melo';
src: url('Agbalumo-Regular.ttf');
}

@font-face{
    font-family: 'silva';
    src: url('Roboto-Black.ttf');
    }
body{
    width: auto;
    height: 100vh;
    background: url('vvv.jpg');
    background-size: 100% 100%;

    }
    div#item1-a{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: orangered;
        padding-bottom: 10px;
        background: url('fundo-casa-menu.jpg');
        background-size: cover ;
        border-radius: 30px;
        width: 200px;
        height: 60px;
        border: 2px solid blue;
        transition: margin-top 1s, border 1s;
        }
        div#item1-a:hover{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: orangered;
            padding-bottom: 10px;
            background: url('fundo-casa-menu.jpg');
            background-size: cover ;
            border-radius: 30px;
            width: 200px;
            height: 60px;
            border: 2px solid red;
            }

        div#item2-b{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: orangered;
            padding-bottom: 10px;
            background: url('fundo-solar-menu.webp');
            background-size: cover ;
            border-radius: 30px;
            width: 200px;
            height: 60px;
            border: 2px solid blue;
            transition: margin-top 1s, border 1s;
            }
            div#item2-b:hover{
                margin-top: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: orangered;
                padding-bottom: 10px;
                background: url('fundo-solar-menu.webp');
                background-size: cover ;
                border-radius: 30px;
                width: 200px;
                height: 60px;
                border: 2px solid red;
                }



div#ch1{
margin-bottom: 5px;
margin-top: 5px;
background-size: cover;
width: auto;
height: 150px;
display: flex;
font-size: 8vh;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
div#ch1 h1{
    font-family: 'melo',sans-serif;
    color: white;
    }
    div#ch2 h1{
        padding: 5px;
        color: white;
        background: rgba(1, 1, 1, 0.2);
        border-radius: 10px;
        margin-bottom: 0px;
        margin-bottom: 5px;
margin-top: 5px;
        }
div#ch1ent{
    margin-bottom: 5px;
margin-top: 5px;
    width: auto;
    border-radius: 30px;
    padding: 0px 15px 0px 15px;
    height: 150px;
    display: flex;
    font-size: 6vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://i0.statig.com.br/bancodeimagens/45/o7/ff/45o7ff3h3sin9oqhwl87tp67x.jpg") no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    }
div#ch2{
    margin-bottom: 5px;
margin-top: 5px;
width: auto;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
div#ch3{
    margin-bottom: 5px;
margin-top: 5px;
width: auto;
height: auto;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}

div#ch3 img#img1{
    margin-bottom: 5px;
margin-top: 5px;
width: 700px;
height: 500px;
margin: 0px;
    }
div#ch4{
    margin-bottom: 5px;
margin-top: 5px;
width: auto;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
div#ch5{
width: auto;
height: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

div#fundo{
background:rgba(1, 1, 1, 0.2);
border-radius: 40px;
padding: 10px;
}